<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    {{>header}}
    <form>
        <input type="text" placeholder="location">
        <button>Search</button>
        <br>
    </form>
    <div style="padding-top: 20px;" class="weatherCard">

        <h1>location: <span id="message-1">{{location}}</span></h1>
        <h1>Temperature: <span id="message-2">{{temp}}</span></h1>
        <h1>Condition: <span id="message-3">{{condition}}</span></h1>
        <h1>Humidity: <span id="message-4">{{humidity}}</span></h1>
        <h1>Wind Speed: <span id="message-5">{{windSpeed}}</span></h1>
    </div>
    <!----weather card------->
    {{>footer}}
    <script src="/js/app.js"></script>

</body>